body{
    max-width: 80%;
    margin: 0 auto;
}

div.header, div.main, div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: lightblue;
}

div.header {
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

div.main {
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: #d4f4ff;
}

div.footer {
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}